a,.blue{
    color:#9ACD32;
}
a:hover{
    color:#274472;
}
.boxed-layout #main-header>.container{
    background: #274472;
}
#main-header{
    background:#274472;
    color:#e2eaf2;
}
#main-header blockquote:before{
    color:#50688c;
}
#main-header blockquote:after{
    color:#50688c;
}
#newsletter{
    background:#324e79;
}
.newsletter-form input[type="submit"]{
    background:#9ACD32;
}
.upcoming-events>li:hover .date>span{
    background: #9ACD32;
    color: #fff;
}
.newsletter-form .newsletter-submit .icons{
    background:#9ACD32;
    color:#FFF;
    border-bottom:1px solid #9ACD32;
    border-bottom:1px solid #9ACD32;
}
.newsletter-form .newsletter-submit:hover .icons,
.newsletter-form .newsletter-submit:hover input{
    background:#9ACD32;
    border-top-color:#9ACD32;
}
#navigation>li:hover>a,
#navigation>li:hover>span,
#navigation>li.current-menu-item>a,
#navigation>li.current-menu-item>span{
    border-top:1px solid #9ACD32;
    border-bottom:1px solid #9ACD32;
}
#navigation li:hover,
#navigation li:hover>span,
#navigation li:hover>a,
#navigation>li.current-menu-item,
#navigation>li.current-menu-item>span,
#navigation>li.current-menu-item>a{
    background:#9ACD32;
}
.owl-header .carousel-arrows span:hover{
    color:#fff;
    background:#9ACD32;
    border-top-color:#9ACD32;
    border-bottom-color:#9ACD32;
}

.banner-rotator-content{
    background:#9ACD32;
    color:#fff;
}
.banner-rotator-content h5{
    color:#274472;
}

.banner-rotator-content a.button{
    border-top-color:#f3f7fa;
    border-bottom-color:#5496d4;
}

.banner-rotator-content a.button:hover{
    background:#324e79;
    border-bottom-color:#9ACD32;
    border-top-color:#9ACD32;
}
.issue-icon{
    background:#9ACD32;
    color:#fff;
}
.issue-block:hover .issue-icon{
    color:#274472;
    background:#fff;
}

.issue-block:hover .issue-content h4{
    color:#274472;
}

.issue-block:hover a.button{
    color:#fff;
    background:#9ACD32;
    border-top-color:transparent;
}
.issue-content h4{
    color:#9ACD32;}
.event-calendar td:hover{
    background:#9ACD32;
}

.event-calendar td:hover .events li{
    border-color:#81c7f8;
}

.event-item:hover .date>span{
    background:#9ACD32;
    color:#fff;
}

.event-item:hover h6 a{
    color:#274472;
}
.filter-dropdown>li>span{
    color:#274472;
}
.filter-dropdown>li>span:hover,
.filter-dropdown.opened>li>span{
    background:#9ACD32;
    border-top-color:#9ACD32;
    border-bottom-color:#9ACD32;
}

.filter-dropdown ul li:hover,
.filter-dropdown ul li.active-filter{
    color:#9ACD32;
}

.filter-select + div.chosen-with-drop .chosen-single{
    background:#9ACD32;
    color:#fff;
}

.filter-select + div .chosen-results>li.result-selected,
.filter-select + div .chosen-results>li:hover{
    color:#9ACD32;
    background:none;
}

.active-sort>button{
    background:#9ACD32;
    border-bottom-color:#9ACD32;
    border-top-color:#80bef0;
    color:#fff;
}
.media-item:hover .media-format>div{
    background:#9ACD32;
    color:#fff;
}
.media-format>div{
    background:#e2eaf2;
    color:#274472;
}
.media-caption h2{
    color:#9ACD32;
}
.col-lg-3 .media-button a.button,
.col-lg-9 .col-lg-4 .media-button a.button{
    color:#274472;
}
.col-lg-3 .media-button a.button:hover,
.col-lg-9 .col-lg-4 .media-button a.button:hover{
    background:none;
    color:#9ACD32;
}

.col-lg-3 .media-button a.button:hover:after,
.col-lg-9 .col-lg-4 .media-button a.button:hover:after{
    color:#274472;
}

.media-caption span.tags{
    color:#9ACD32;
    font-size:13px;
}
.post-side-meta .post-format{
    background:#e2eaf2;
    color:#274472;}
.post-side-meta .post-format:hover{
    background:#9ACD32;
    color:#fff;
}
.post-side-meta .post-comments{
    background:#fafbfd;
    color:#9ACD32;
}
.shopping-cart:hover .cart-button{
    background:#9ACD32;
    border-top-color:#9ACD32;
    border-bottom-color:#9ACD32;
    color:#fff;
}
.shopping-cart-content{
    background:#fafbfd;
    border:3px solid #9ACD32;}
.shop-product-gallery .fullscreen-icon:hover{
    background:#9ACD32;
}
.shop-product-content h2{
    color:#9ACD32;
}
.sidebar-box a.button.transparent:hover:after{
    color:#9ACD32;
}
.banner h4{
    color:#274472;}
.banner:hover{
    background:#9ACD32;}
.banner:hover .icons{
    color:#9ccbf8;
}

.banner:hover .icons.icons-fadeout{
    color:#9ccbf8;}
.image-banner a{
    background:#9ACD32;
    color:#fff;
    border-bottom:1px solid #9ACD32;
}
.image-banner:hover a{
    background:#9ACD32;
    border-bottom-color:#9ACD32;
}
.image-banner:hover img{
    border-bottom-color:#9ACD32;}
.image-banner img{
    border-bottom:1px solid #80bff0;
}
a.tag{
    color:#274472;
}
a.tag:hover{
    background:#9ACD32;
    color:#fff;
}
.category-box a{
    color:#9ACD32;
}
.category-box a:hover{
    background:#fff;
    color:#274472;
}

.category-box a:hover:before{
    color:#274472;
}

.responsive-calendar .day.calendar-event a{
    color:#9ACD32;
}
#main-footer,
#lower-footer{
    background:#274472;
    color:#e2eaf2;

}
.menu li a:hover,
.menu li a:hover:before{
    color:#9ACD32;
}
#button-to-top:hover{
    background:#9ACD32;
    color:#fff;
    border-top-color:#9ACD32;
    border-bottom-color:#9ACD32;
}
.customize-box{
    background:#274472;
}
.customize-box-button{
    background:#274472;
}
.customize-box.opened .customize-box-button,
.customize-box-button:hover{
    background:#9ACD32;
    border-top:1px solid #9ACD32;
    border-bottom:1px solid #9ACD32;
}
.customize-box input[type="radio"] + label{
    background:#324e79;}

.customize-box input[type="radio"]:checked + label,
.customize-box input[type="radio"] + label:hover{
    background:#9ACD32;
    border-top-color:#9ACD32;
    border-bottom-color:#9ACD32;
}
.background-image input[type="radio"] + label{
    border:2px solid #324e79!important;
}
.background-image input[type="radio"]:checked + label{
    border:2px solid #9ACD32!important;
}
::selection {
    background: #9ACD32; /* Safari */
    color:#fff;
}
::-moz-selection {
    background: #9ACD32; /* Firefox */
    color:#fff;
}
a.button,
button{	background:#e2eaf2;
    color:#274472;
}
a.button.transparent,
button.transparent{
    color:#274472;
}

a.button.transparent:hover,
button.transparent:hover{
    color:#9ACD32;
}
a.button.transparent:hover:after,
button.transparent:hover:after{
    color:#9ACD32;
}

a.button:hover,
button:hover,
a.button.active-button,
button.active-button{
    background:#9ACD32;
    color:#fff;
    border-top-color:#9ACD32;
    border-bottom-color:#9ACD32;
    text-decoration:none;
}
.tooltip-inner{
    background:#9ACD32;}
.tooltip.top .tooltip-arrow{
    border-top-color:#9ACD32;
}

.tooltip.left .tooltip-arrow{
    border-left-color:#9ACD32;
}

.tooltip.bottom .tooltip-arrow{
    border-bottom-color:#9ACD32;
}

.tooltip.right .tooltip-arrow{
    border-right-color:#9ACD32;
}
.accordion-header{
    color:#274472;}
.accordion-active .accordion-header,
.accordion-header:hover{
    background:#9ACD32;
    border-top-color:#9ACD32;
    border-bottom-color:#9ACD32;
    color:#fff;
}
.tab-header li{
    color:#274472;
}

.tab-header li.active-tab,
.tab-header li:hover{
    background:#9ACD32;
    border-top-color:#9ACD32;
    border-bottom-color:#9ACD32;
    color:#fff;
}
.tab-header li a{
    color:#274472;
}
blockquote{
    border-left:3px solid #9ACD32;
    color:#274472;}
blockquote.link-quote{
    border-left-color:#274472;
}
input[type="submit"],
input[type="reset"]{
    color:#274472;
}
input[type="submit"]:hover,
input[type="reset"]:hover{
    background:#9ACD32;
    border-top-color:#9ACD32;
    border-bottom-color:#9ACD32;
    color:#fff;
    text-decoration:none;
}
.increase-button:hover,
.decrease-button:hover{
    color:#fff;
    background:#9ACD32;
    border-color:#9ACD32;
}
.dropcap.blue{
    color:#9ACD32;
}
.dropcap.squared.blue{
    color:#fff;
    background:#9ACD32;
}
.highlight{
    color:#fff;
    background:#9ACD32;
}
.audio-player{
    background:#274472;
    color:#97acc3;
}
.audio-play-button{
    border-right:1px solid #324e79;}
.audio-progress-wrapper{
    border:1px solid #808ca4;
    background:#324e79;}
.audio-buffer-bar{
    background:#416c9e;}
.audio-progress-bar{
    background:#9ACD32;}
.audio-volume{
    border-left:1px solid #324e79;}
.volume-bar{
    border:1px solid #808ca4;
    background:#324e79;}
.audio-volume-progress{
    background:#9ACD32;}
.pricing-header{
    color:#9ACD32;
}

.most-popular .pricing-header{
    background:#9ACD32;}
.most-popular .pricing-header span{
    color:#4377ae;
}
.pricing-price,ul.pager li.page-numbers a,.sidebar-box .view-archives li:hover,.sidebar-box .view-archives li:hover a{
    color:#274472;
}
ul.pager li.page-numbers a:hover{
    background:#9ACD32;
    color:#fff;
    border-top-color:#9ACD32;
    border-bottom-color:#9ACD32;
    text-decoration:none;
}
.sidebar-box .view-archives li{color: #9ACD32;}
#navigation > li.active-trail,
#navigation a.active-trail:after,
#navigation a.active-trail,
#navigation > li.active-trail > span,
#navigation > li.active-trail > a{
    text-decoration:none;
    background:#9ACD32;
    color:#fff;
    border-right-color:transparent;
    border-left-color:transparent;
}
#navigation > li.active-trail > a{
    border-top: 1px solid #9ACD32;
    border-bottom: 1px solid #9ACD32;
}
ul.tabs_nav > li > a{
    color: #274472;
    background: #e2eaf2;
}
ul.tabs_nav > li > a:hover{
    background: #9ACD32;
    color: #fff;
}
.pager .pager-current a{
    background: #9ACD32;
    color: #fff;
    border-top-color: #9ACD32;
    border-bottom-color: #9ACD32;
    text-decoration: none;
}
.tags >a:after{content: ', '; color: #9ACD32;}
.view-calendar ul.pager{list-style: none; margin: 0;}
.view-calendar ul.pager li{padding: 0;}
.view-calendar ul.pager li a{
    color: #274472;
}
.view-calendar ul.pager .date-prev a,.view-calendar ul.pager .date-next a{margin: 0;font-weight: normal;font-size: 13px}
.view-calendar ul.pager li a:hover{
    background: #9ACD32;
    color: #fff;
    border-top-color: #9ACD32;
    border-bottom-color: #9ACD32;
    text-decoration: none;
}
.custom-plus:hover{background: #9ACD32;color: #fff;border-radius: 0 3px 3px 0;}
.custom-minus:hover{background: #9ACD32;color: #fff;border-radius: 3px 0 0 3px;}

.line-item-summary-view-cart a:hover,.tabs-link a:hover,.tabs-link ul li.active a{
    background: #9ACD32;
    color: #fff;
    border-top-color: #9ACD32;
    border-bottom-color: #9ACD32;
    text-decoration: none;
}
.line-item-summary-view-cart a,.line-item-summary-checkout a,.tabs-link a{
    color:#274472;
}
.block-simplenews{
    background:#324e79;}
.simplenews-subscribe input.form-submit{
    background: #9ACD32;
}
.simplenews-subscribe input.form-submit:hover{
    background: #9ACD32;
}
.customer_profile_billing label{display: block;width: 100%}
.checkout-cancel,.cus-tag a,.view-portfolio .view-filters .views-exposed{padding-top: 0}
.view-portfolio .view-filters .views-exposed-widget{padding-top: 0}
.view-portfolio .view-filters .views-exposed-widget:last-child,.view-portfolio .view-filters .views-widget-sort-order{padding-right: 0}
.view-portfolio .view-filters .views-exposed-widget input{margin-top: 0;padding: 4px 15px;font-size: 14px}
.view-filters select{
    color: #274472;
}
.cus-tag a:hover{
    background:#9ACD32;
    color:#fff;
}
.view-portfolio .views-widget-sort-by select{
    background: #9ACD32;
    border-bottom-color: #9ACD32;
    border-top-color: #80bef0;
    color: #fff;
}
.view-filters select option{background: #fff;color: #333}
.view-filters select:hover{
    background: #9ACD32;
    color: #fff;
    border-top-color: #9ACD32;
    border-bottom-color: #9ACD32;
    text-decoration: none;
}
.related-products input.form-submit,.view-shop-front-page input.form-submit,.view-product-block input.form-submit{
    background: none;
}
input[id^='edit-edit-delete']:hover{
    background: #a82512;
}
.line-item-summary-checkout a{
    background:#a82512;
    border-top-color:#be2e17;
    border-bottom-color:#911f0f;
    color:#fff;
}
#navigation li.donate-button>a{
    color:#fff;
    padding:18px 10px;
    background:transparent;
    font-size:18px;
    border-top:1px solid #be2e17;
    border-bottom:1px solid #911f0f;
}
.banner.donate-banner{
    background:#ede1e2;
    padding:20px 18px 20px 20px;
}
@media(max-width:991px){
    #menu-button:hover{
        background:#9ACD32;
        border-bottom-color:transparent;
    }
}



